@import "tailwindcss";

@theme {
  --font-actor: "Actor", sans-serif;
  --font-inter: "Inter", sans-serif;
  --color-sidebar: #f5f0ed;
  --color-gold: #c58f2c;
  --color-border: #e0e0e0;
  --color-control-bg: #f7f7f7;
}

body {
  margin: 0;
}
